main{
  position: relative;
}

.item{
  display: flex;
  overflow: hidden;
  height: 20px;
  margin-bottom: 10px;
  img{
    margin-left: 20px;
  }
  button{
    margin-left: 20px;
  }

}
.deleting{
  animation-iteration-count: 1;
  animation-duration: 1.2s;
  animation-name: hide

}

.deleted{
  display: none;
  opacity: 0;
}

.item.deleting + .item {
  animation-iteration-count: 1;
  animation-duration: 1.2s;
  animation-name: up;
  z-index: 1;
}

@keyframes up {
  from {}
  to {
    margin-top: -30px;
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translateX(200px);
  }
}
